.autocomplete {
    position: relative;
    border: 1px solid #ddd;
    height: 28px;
}

.autocomplete input {
    outline: none;
    border: none;
    width: calc(100% - 20px);
    padding: 0 10px;
    height: 100%;
    font-size: 18px;
}
.autocomplete .autocomplete-list {
    position: relative;
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    margin-left: -1px;
    width: 100%;
    z-index: 1000;
}

.autocomplete .autocomplete-list .autocomplete-list-item,
.autocomplete .autocomplete-list .autocomplete-list-item-empty {
    padding: 5px 10px;
    cursor: pointer;
    color: #333;
}

/*.rich-autocomplete .rich-autocomplete-list .rich-autocomplete-list-item:hover,*/
.autocomplete .autocomplete-list .autocomplete-list-item.highlighted {
    background-color: #0A64A0;
    color: #fff;
}
