.rich-autocomplete {
    position: relative;
    border: 1px solid #ddd;
    height: 28px;
}

.rich-autocomplete input {
    outline: none;
    border: none;
    width: calc(100% - 20px);
    padding: 0 10px;
    height: 100%;
    font-size: 18px;
}

.rich-autocomplete .rich-autocomplete-list {
    position: relative;
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    margin-left: -1px;
    width: 100%;
    z-index: 1000;
}

.rich-autocomplete .rich-autocomplete-list .rich-autocomplete-list-item,
.rich-autocomplete .rich-autocomplete-list .rich-autocomplete-list-item-empty {
    padding: 5px 10px;
    cursor: pointer;
    color: #333;
}

/*.rich-autocomplete .rich-autocomplete-list .rich-autocomplete-list-item:hover,*/
.rich-autocomplete .rich-autocomplete-list .rich-autocomplete-list-item.highlighted {
    background-color: #0A64A0;
    color: #fff;
}

/*
    CSS Spinner
*/
.spinner-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 29px;
    height: 29px;
}


.spinner {
	position:relative;
	width:26px;
	height:26px;
	margin:auto;
	transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
}

.spinner-node {
	position:absolute;
	background-color:rgb(255,255,255);
	height:5px;
	width:5px;
	border-radius:2px;
		-o-border-radius:2px;
		-ms-border-radius:2px;
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
	animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

.spinner-node.node1 {
	left:0;
	top:10px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

.spinner-node.node2 {
	left:3px;
	top:3px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

.spinner-node.node3 {
	left:10px;
	top:0;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

.spinner-node.node4 {
	right:3px;
	top:3px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

.spinner-node.node5 {
	right:0;
	top:10px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

.spinner-node.node6 {
	right:3px;
	bottom:3px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

.spinner-node.node7 {
	left:10px;
	bottom:0;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

.spinner-node.node8 {
	left:3px;
	bottom:3px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}



@keyframes f_fadeG{
	0%{
		background-color:rgb(51,51,51);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:rgb(51,51,51);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:rgb(51,51,51);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:rgb(51,51,51);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:rgb(51,51,51);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}
